<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: center;">
      <th></th>
      <th>Address</th>
      <th>Name</th>
      <th>Employees</th>
      <th>Latitude</th>
      <th>Longitude</th>
    </tr>
    <tr>
      <th>ID</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>1</th>
      <td>3666 21st St San Francisco CA 94114 USA</td>
      <td>Madeira</td>
      <td>8</td>
      <td>37.756489</td>
      <td>-122.429343</td>
    </tr>
    <tr>
      <th>2</th>
      <td>735 Dolores St San Francisco CA 94119 USA</td>
      <td>Bready Shop</td>
      <td>15</td>
      <td>37.757726</td>
      <td>-122.425529</td>
    </tr>
    <tr>
      <th>3</th>
      <td>332 Hill St San Francisco California 94114 USA</td>
      <td>Super River</td>
      <td>25</td>
      <td>37.755725</td>
      <td>-122.428601</td>
    </tr>
    <tr>
      <th>4</th>
      <td>3995 23rd St San Francisco CA 94114 USA</td>
      <td>Ben's Shop</td>
      <td>10</td>
      <td>37.752965</td>
      <td>-122.431714</td>
    </tr>
    <tr>
      <th>5</th>
      <td>1056 Sanchez St San Francisco California USA</td>
      <td>Sanchez</td>
      <td>12</td>
      <td>37.752146</td>
      <td>-122.429815</td>
    </tr>
  </tbody>
</table>