<!DOCTYPE html>
<html land="'en">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>File uploader</title>
    <head>
        <link href="../static/main.css" rel="stylesheet">
    </head>
    <body>
        <div class='container'>
            <h1>File uploader</h1>
            <h3>Please select a file to be uploaded</h3>
           <div class="message">
               {{text | safe}}
           </div>
            <form action="{{url_for('index')}}" method="POST" enctype="multipart/form-data">
                <input type="file" name="file"> <br>
                <button type="submit">Submit</button>
            </form>
            {% include [btn] ignore missing %}
        </div>   
    </body>
</html>